html{
  padding: 0;
  margin: 0;

  --blue: #0000ff;
  --darkerBlue: #0000c8;
  --white: #ffffff;

}
#header h1 a {
  text-decoration: none;
  color: black;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    background-color: var(--blue);
}
ul li a {
    font-size: 3rem;
    text-decoration: none;
  color: var(--white);
}
ul li a:hover {
  background-color: var(--darkerBlue);
}

#footer {
  background-color: var(--blue);
}
#footer p {
  color: var(--white);
}
#footer p a {
  color: var(--white);
  background-color: var(--blue);
} 
#footer p a:hover {
  color: var(--blue);
  background-color: var(--white);
}